_playground/home-assistant/_docs/nodered-example-flow.json
[
  {
    "id": "ha-server-config",
    "type": "server",
    "name": "Home Assistant",
    "version": 3,
    "addon": false,
    "rejectUnauthorized": true,
    "ha_boolean": "y|yes|true|on|home|open",
    "connectionDelay": true,
    "cacheJson": true,
    "heartbeat": false,
    "heartbeatInterval": 30,
    "statusSeparator": "at",
    "enableGlobalContextStore": true
  },
  {
    "id": "watch-trigger",
    "type": "api-current-state",
    "z": "flow-trigger-example",
    "name": "Watch Flow Trigger",
    "server": "ha-server-config",
    "version": 3,
    "outputs": 1,
    "entity_id": "input_boolean.nodered_flow_trigger",
    "state_type": "str",
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": true,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 200,
    "y": 100,
    "wires": [["flow-logic"]]
  },
  {
    "id": "flow-logic",
    "type": "function",
    "z": "flow-trigger-example",
    "name": "Execute Flow Logic",
    "func": "// Example flow logic\nconst trigger = msg.payload;\n\n// Initialize status\nmsg.status = 0;\nmsg.message = 'Flow started';\n\n// Update status to 25%\nmsg.status = 25;\nmsg.message = 'Processing step 1...';\n\n// Your custom logic here\n// For example: process data, call APIs, etc.\n\n// Update status to 50%\nmsg.status = 50;\nmsg.message = 'Processing step 2...';\n\n// Update status to 75%\nmsg.status = 75;\nmsg.message = 'Processing step 3...';\n\n// Complete\nmsg.status = 100;\nmsg.message = 'Flow completed successfully';\n\nreturn msg;",
    "outputs": 1,
    "x": 400,
    "y": 100,
    "wires": [["update-status"]]
  },
  {
    "id": "update-status",
    "type": "api-call-service",
    "z": "flow-trigger-example",
    "name": "Update Flow Status",
    "server": "ha-server-config",
    "version": 3,
    "domain": "input_number",
    "service": "set_value",
    "entity_id": "input_number.nodered_flow_status",
    "data": "{\"value\": {{status}}}",
    "dataType": "jsonata",
    "mergecontext": "",
    "output_type": "entity_id",
    "output_location": "payload",
    "output_location_type": "msg",
    "x": 600,
    "y": 100,
    "wires": [["update-message"]]
  },
  {
    "id": "update-message",
    "type": "api-call-service",
    "z": "flow-trigger-example",
    "name": "Update Flow Message",
    "server": "ha-server-config",
    "version": 3,
    "domain": "input_text",
    "service": "set_value",
    "entity_id": "input_text.nodered_flow_message",
    "data": "{\"value\": \"{{message}}\"}",
    "dataType": "jsonata",
    "mergecontext": "",
    "output_type": "entity_id",
    "output_location": "payload",
    "output_location_type": "msg",
    "x": 800,
    "y": 100,
    "wires": [["update-counter", "reset-trigger"]]
  },
  {
    "id": "update-counter",
    "type": "api-call-service",
    "z": "flow-trigger-example",
    "name": "Increment Counter",
    "server": "ha-server-config",
    "version": 3,
    "domain": "input_number",
    "service": "increment",
    "entity_id": "input_number.nodered_flow_counter",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_type": "entity_id",
    "output_location": "payload",
    "output_location_type": "msg",
    "x": 1000,
    "y": 100,
    "wires": [["update-timestamp"]]
  },
  {
    "id": "update-timestamp",
    "type": "api-call-service",
    "z": "flow-trigger-example",
    "name": "Update Last Execution",
    "server": "ha-server-config",
    "version": 3,
    "domain": "input_text",
    "service": "set_value",
    "entity_id": "input_text.nodered_last_execution",
    "data": "{\"value\": \"{{$now()}}\"}",
    "dataType": "jsonata",
    "mergecontext": "",
    "output_type": "entity_id",
    "output_location": "payload",
    "output_location_type": "msg",
    "x": 1200,
    "y": 100,
    "wires": [[]]
  },
  {
    "id": "reset-trigger",
    "type": "api-call-service",
    "z": "flow-trigger-example",
    "name": "Reset Trigger",
    "server": "ha-server-config",
    "version": 3,
    "domain": "input_boolean",
    "service": "turn_off",
    "entity_id": "input_boolean.nodered_flow_trigger",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_type": "entity_id",
    "output_location": "payload",
    "output_location_type": "msg",
    "x": 1000,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "error-handler",
    "type": "catch",
    "z": "flow-trigger-example",
    "name": "Catch Errors",
    "scope": ["flow-logic"],
    "uncaught": false,
    "x": 600,
    "y": 200,
    "wires": [["update-error"]]
  },
  {
    "id": "update-error",
    "type": "api-call-service",
    "z": "flow-trigger-example",
    "name": "Update Error Message",
    "server": "ha-server-config",
    "version": 3,
    "domain": "input_text",
    "service": "set_value",
    "entity_id": "input_text.nodered_flow_error",
    "data": "{\"value\": \"{{error.message}}\"}",
    "dataType": "jsonata",
    "mergecontext": "",
    "output_type": "entity_id",
    "output_location": "payload",
    "output_location_type": "msg",
    "x": 800,
    "y": 200,
    "wires": [["reset-trigger"]]
  }
]

